[submodule "OCA/manufacture-reporting"]
	path = OCA/manufacture-reporting
	url = git@github.com:OCA/manufacture-reporting.git
	branch = 15.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 15.0
